body {
  background-color: #bcd9f4;
  color: #2e120f;
}

h1 {
  text-align: center;
}

.inner-container {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: #f58567 1rem 0.75rem 0.5rem;
  height: 75vh;
  margin-left: 4%;
  width: 90vw;
}

.header {
  margin-left: 12%;
  padding-top: 4%;
}

.header > a {
  margin-right: 3rem;
}

.content {
  justify-content: space-evenly;
}

.left-container {
  height: 40vh;
  margin-top: 5%;
  text-align: justify;
  width: 40vh;
}

.right-container {
  height: 40vh;
  margin-top: 15%;
  text-align: center;
  width: 40vh;
}

.accent {
  background-color: #f58567;
  border-radius: 1.5rem;
  margin-left: 4.5rem;
  text-align: center;
  width: 14rem;
}
a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline dotted #f58567;
  text-decoration-thickness: 0.5rem;
}

input {
  border: #2e120f solid 1.75px;
  border-radius: 1.5rem;
  height: 2rem;
  margin: 0.5rem;
  outline: none;
}

.button {
  background-color: #f58567;
  border: none;
  color: #2e120f;
  font-weight: 600;
}

.button:hover {
  background-color: #f16f4b;

  transform: scale(1.1);
}

input:hover {
  border: 2.5px solid #f58567;
  cursor: pointer;
}
